body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body{
font-family: 'Karla', sans-serif;
	font-size: 14px;
	color: #0D0D0D;
	background-color: #F2F2F2;
}

a {
	text-decoration: none;
	color: #333;
	
}


ul, ol {
	list-style: none;
}

p{
	line-height: 20px;
	letter-spacing: 0px;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;		
}

.js body.render {
	opacity: 1;
}


canvas {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
}


.slide-wrapper {
	display: none;
}


/* Homepage navigation projects */


#menu {
	position: absolute;
	z-index: 10;
	top: 55%;
	display: block;
	left: 15%;
	padding-bottom: 10%;
}

#menu li.active .menu__item-label {
	margin-left: 70px;
	opacity: 1;
}

#menu li a {
	line-height: 1.5;
	position: relative;
	display: block;
	margin: 1em 0;
	outline: none;
}

#menu li a:hover {
	cursor: pointer;
}

.menu__item-number {
font-family: 'Cutive Mono', monospace;
color: #9A9A9A;	
}

.menu__item-number,
.menu__item-name {
	position: relative;
	display: inline-block;
}

.menu__item-name {
	margin-left: 20px;
	font-size: 70px;
	z-index: 10;
}

.menu__item-name::before {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

#menu li:nth-of-type(1) .menu__item-name::before{
	background: #B0D6BB;
}

#menu li:nth-of-type(2) .menu__item-name::before{
	background: #A49ABA;
}

#menu li:nth-of-type(3) .menu__item-name::before{
	background: #d2d4c6;
}

#menu li:nth-of-type(4) .menu__item-name::before{
	background: #ff8000;
}

#menu li:nth-of-type(5) .menu__item-name::before{
	background: #e6836d;
}


/* Hover */

#menu li a:hover .menu__item-name::before,
#menu li a:focus .menu__item-name::before {
	transform: scale3d(1,1,1);
}

@media screen and (max-width: 50em) {
	#menu li a {
		margin: 0 0 2em;
	}
}

/* Social Media Overlay */

.nav-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  margin: 0 auto;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 15px;
  width: 35px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity .25s ease;
}

.button_container .bottom {
	width: 20px;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(5px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-5px) translateX(0) rotate(-45deg);
  background: #FFF;
	width: 35px;
}
.button_container span {
  background: #333;
  border-radius: 40px;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 5px;
}
.button_container span:nth-of-type(3) {
  top: 10px;
}

.overlay-nav {
  position: fixed;
  background: #000000;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  overflow: hidden;
  z-index: 100;
}
.overlay-nav.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.overlay-nav.open li, .overlay-nav.open p {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .50s;
}

.overlay-nav.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay-nav.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay-nav.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay-nav nav {
	font-family: 'Suranna', serif;
	font-weight: 400;
  text-align: left;
  position: absolute;
  text-align: left;
  height: 60%;
  left: 10%;
  top: 30%;
  font-size: 50px;
  line-height: 70px;
}
.overlay-nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay-nav ul li {
  display: block;
  position: relative;
  opacity: 0;
}
.overlay-nav ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}

.overlay-nav a:hover {
  color: #FFF;
}

.overlay-nav p a {
	transition: 1s ease;
}

.overlay-nav p {
font-family: 'Karla', sans-serif;
	letter-spacing: 1px;
	position: absolute;
	bottom: 10%;
	left: 10%;
}

.overlay-nav ul li:after {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  top: 40px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  left: 110%;
  opacity: 0;
  transition: .2s ease-in-out;
}

.overlay-nav ul li:hover:after {
	opacity: 1;
	left: 120%;
}
.slidebg {
	background: #eee;
	position: fixed;
	z-index: 0;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

/* Portfolio items
 * --------------------------------------- */

.portfolio {
	position: absolute;
	overflow-x: hidden;
	top: 30%;
	left: 0; right: 0; margin: auto;
	width: 70%;
	padding-bottom: 10%;
}

.portfolio h1 {
	text-align: center;
	position: relative;
}


.portfolio h4 {
	text-align: right;
	line-height: 32px;
	padding-bottom: 10%;
}

.portfolio img, .portfolio video {
	width: 100%;
	padding: 8% 0 0 0;
}

.vl {
	position: relative;
	border-left: 1px solid #333333;
    height: 200px;
	left: 50%;
    margin: 200px 0 100px -0.5px;
}

.caption {
	padding-top: 10%;
	padding-left: 5%;
}

.caption a:before {
 background-color: #7F7F7F;
 content: "";
 display: inline-block;
 height: 1.5px;
 position: relative;
 vertical-align: middle;
 width: 0%;
 transition: all 0.5s ease-in;
}
.caption a:before {
 right: 0.5em;

}

.caption a:hover {
	  color: #6B7FD7;
}

.caption a:hover:before {
	width: 3%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, [col] 1fr);
  grid-column-gap: 1em;
	margin: 8% 0;
}

.grid__item_item-v1 {
  grid-column: col 1 / span 1;
}

.grid__item_item-v2 {
  grid-column: col 2 / span 1;
}

.grid__item_item-v3 {
  grid-column: col 3 / span 5;
}


/* Text styles
 * --------------------------------------- */


h1 {
	font-family: 'Suranna', serif;
	font-weight: 400;
	font-size: 60px;
	z-index: 10;
}

h2 {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	font-size: 20px;
}


h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
   font-size: 12px;
	line-height: 20px;
	letter-spacing: 1px;
   text-align: center;
	text-transform: uppercase;
	  color: #d3d3d3;

}

.projectlink h3 {
	  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to left, #d3d3d3, #d3d3d3 50%, #333 50%);
  background-size: 110% 100%;
  background-position: 100% 100%;
}
.projectlink:hover h3 {
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0% 0%;
}

.external-link {
	color: #5271b2;
	margin-right: 5px;
}

.external-link:after {
  content: 'b';
font-family: 'untitled-font-2';
font-weight: normal;
font-style: normal;
	margin-top: -5px;
	position: absolute;
font-size: 7px;}

h4 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 15px;
    display: inline-block;
    position: relative;
}
h4::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-bottom: 1px solid;
}

/* SCROLL ICON PORTFOLIO
 * --------------------------------------- */

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
	top:20vh;
}

.icon-scroll {
  width: 20px;
  height: 35px;
  margin-left: -10px;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 0 1px #d3d3d3;
          box-shadow: inset 0 0 0 1px #d3d3d3;
  border-radius: 12.5px;
}

.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #d3d3d3;
  margin-left: -2px;
  top: 8px;
  border-radius: 2px;
  -webkit-animation: scroll 1.5s infinite; /* Safari 4+ */
  -moz-animation:    scroll 1.5s infinite; /* Fx 5+ */
  -o-animation:      scroll 1.5s infinite; /* Opera 12+ */
  animation:         scroll 1.5s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}



/* Scroll bar  */

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  z-index: 100;
  background-color: #222;
}

.coord {
	position: fixed;
	top: 60%;
	left: calc(0% - 40px);
	z-index: 10;
	cursor: pointer;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* Footer
 * --------------------------------------- */

header {
    width: 100%;
	top: 4%; 
	position: fixed;
	z-index: 1;
	left: 3%;
	text-align: left;
}

svg {
	min-width: 20px;
	position: fixed;
	width: 2%;
	fill:#141414;
}

.home {
	left: 49%;
}

.backhome {
	left: 4%;
	cursor: pointer;
}


/* RESPONSIVE
 * --------------------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 667px) {


} 

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
.portfolio {
	width: 90%;
}
	
	
.vl {
	position: relative;
	border-left: 1px solid #333333;
    height: 100px;
	left: 50%;
    margin: 100px 0 100px -0.5px;
}
	

	.coord {
		display: none;
	}
	
.project {
	top: 55%;
	left: 0;
	width: 100%;
	height: 45%;
}
	
#menu {
	top: 20%;
	display: block;
	left: 5%;
}


.menu__item-name {
	line-height: 5px;
	margin-left: 10px;
	font-size: 30px;
}
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	
.grid__item_item-v1 {
  grid-column: col 2 / span 1;
}

.grid__item_item-v2 {
  grid-column: col 4 / span 1;
}

.grid__item_item-v3 {
	padding-top: 40px;
  grid-column: col 2 / span 6 ;
	grid-row: 2;
}
	.icon-scroll {
		display: none;
	}

		header {
	top: 4%; 
	left: 6%;
}
	
	.button_container {
  top: 4%;
  right: 6%;
}
	
	.projectlink h3 {
		background-size: 200% 200%;
	}
	
	
} 
