.reading-progress-bar {
  position: sticky;
  top: 0;
  background-color: #d3d3d3;
  z-index: 10;

  div {
    background-color: #333;
    height: 100%;
  }
}

.portfolio-item {
  padding-bottom: 10%;

  .icon-scroll {
    width: 20px;
    height: 35px;
    -webkit-box-shadow: inset 0 0 0 1px #d3d3d3;
    box-shadow: inset 0 0 0 1px #d3d3d3;
    border-radius: 12.5px;
    position: relative;
    transform: translateX(-50%);

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      background: #d3d3d3;
      top: 8px;
      border-radius: 2px;
      -webkit-animation: scroll 1.5s infinite;
      -moz-animation: scroll 1.5s infinite;
      -o-animation: scroll 1.5s infinite;
      animation: scroll 1.5s infinite;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  img {
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  h4 {
    display: block;
    line-height: 32px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      height: 30px;
      width: 30px;
      border-bottom: 1px solid;
    }
  }

  ul {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
  }

  .vl {
    position: relative;
    width: 1px;
    background-color: #333333;
  }

  .caption {
    padding-top: 10%;
    padding-left: 5%;

    a {
      &:hover {
        color: #6b7fd7;

        &::before {
          width: 16px;
          opacity: 1;
        }
      }

      &::before {
        right: 0.5em;
        background-color: #6b7fd7;
        content: "";
        display: inline-block;
        height: 1.5px;
        position: relative;
        vertical-align: middle;
        width: 0%;
        opacity: 0;
        transition: all 0.5s ease-in;
      }

      p {
        display: inline-block;
      }
    }
  }

  .video-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 75%;
    height: 0;

    .video-js {
      height: 100% !important;
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .projectlink {
    &:hover h3 {
      cursor: pointer;
      transition: all 0.8s cubic-bezier(0, 0, 0.23, 1);
      background-position: 0% 0%;
    }
  }
}

@media (max-width: 575.98px) {
  .reading-progress-bar {
    height: 3px;
  }

  .portfolio-item {
    padding-top: 20vh;

    .icon-scroll {
      display: none;
    }

    img,
    .video-wrapper {
      margin: 16px 0 0 0;
    }

    h4 {
      margin-bottom: 0;

      & + p {
        margin-bottom: 30px;
      }
    }

    .row {
      margin: 8px 0;
    }

    .vl {
      height: 100px;
      margin: 50px auto 25px auto;
    }
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .reading-progress-bar {
    height: 4px;
  }

  .portfolio-item {
    padding-top: 20vh;

    .icon-scroll {
      display: none;
    }

    img,
    .video-wrapper {
      margin: 16px 0 0 0;
    }

    h4 {
      margin-bottom: 0;

      & + p {
        margin-bottom: 30px;
      }
    }

    .row {
      margin: 8px 0;
    }

    .vl {
      height: 100px;
      margin: 50px auto 25px auto;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .reading-progress-bar {
    height: 5px;
  }

  .portfolio-item {
    .icon-scroll {
      margin: 20vh 0 10% 50%;
    }

    img,
    .video-wrapper {
      margin: 8% 0 0 0;
    }

    h4 {
      padding-bottom: 10%;
    }

    .row {
      margin: 8% 0;
    }

    .vl {
      height: 200px;
      margin: 200px auto 100px auto;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1010px;
  }

  .reading-progress-bar {
    height: 5px;
  }

  .portfolio-item {
    .icon-scroll {
      margin: 20vh 0 10% 50%;
    }

    img,
    .video-wrapper {
      margin: 8% 0 0 0;
    }

    h4 {
      padding-bottom: 10%;
    }

    .row {
      margin: 8% 0;
    }

    .vl {
      height: 200px;
      margin: 200px auto 100px auto;
    }

    .projectlink {
      h3 {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
          to left,
          #d3d3d3,
          #d3d3d3 50%,
          #333 50%
        );
        background-size: 110% 100%;
        background-position: 110% 110%;
      }
    }
  }
}
